<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="../static/css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v246_149">
        <div class="v246_150">

        </div>
        <div class="v246_151">
            <div class="v246_152">

            </div>
            <div class="v246_153">
                <div class="v246_154">

                </div>
                <a href="{{ url_for('stapup_index') }}">
                    <span class="v246_155">심화과정 가기 >
                </a>

                </span>
            </div>
            <span class="v246_156">논술 실력을 높이고 싶다면?</span>
            <div class="v246_157">

            </div>
            <span class="v246_158">실력UP!</span>
            <span class="v246_159">논술 실력 상승을 위하여 실력 UP의 주제는 random으로 제시됩니다.</span>
        </div>
        <div class="v246_160">
            <div class="v246_161">
                <div class="v247_233">
                    <div class="v246_167">

                    </div>
                    <div class="v246_173">

                    </div>
                    <a href="{{ url_for('summary_num', num=4) }}">
                        <span class="v246_179">융합</span>
                        <div class="v246_186">
                        </div>
                    </a>
                </div>
                <div class="v247_234">
                    <div class="v246_166">

                    </div>
                    <div class="v246_172">

                    </div>
                    <a href="{{ url_for('summary_num', num=3) }}">
                        <span class="v246_178">예술</span>
                        <div class="v246_185">
                        </div>
                    </a>
                </div>
                <div class="v247_235">
                    <div class="v247_232">

                    </div>
                    <div class="v246_171">
                    </div>
                    <a href="{{ url_for('summary_num', num=1) }}">
                        <span class="v246_176">기술<br>과학</span>
                        <div class="v246_184">
                        </div>
                    </a>
                </div>
                <div class="v247_236">
                    <div class="v246_162">
                    </div>
                    <div class="v246_169">

                    </div>
                    <a href="{{ url_for('summary_num', num=2) }}">
                        <span class="v246_174">사회<br>과학</span>
                        <div class="v246_181">
                        </div>
                    </a>
                </div>
                <span class="v246_180">주제</span>
            </div>
        </div>
        <div class="v246_187">
            <div class="v246_188">
                <div class="v246_189">

                </div>
                <a href="{{ url_for('topic') }}">
                    <span class="v246_190">자세히보기 >
                </a>

                </span>
            </div>
            <span class="v246_191">가장 좋아하는 주제가 뭐야?</span>
            <div class="v246_192">

            </div>
        </div>
        <div class="v246_193">
            <div class="v246_194">

            </div>
            <span class="v246_195"> 검색어를 입력하세요</span>
            <div class="v246_196">
                <div class="v246_197">

                </div>
                <span class="v246_198">검색</span>
            </div>
            <div class="v246_199">

            </div>
        </div>
        <div class="v246_200">
            <div class="name">
                <span class="v246_204">ver 2021.11.25</span>

            </div>
            <a href="{{ url_for('settings') }}">
                <div class="v246_205">
                    <span class="v246_206">Settings</span>
                    <div class="v246_207">
            </a>

        </div>
    </div>
    <a href="{{ url_for('user') }}">
        <div class="v246_208">
            <span class="v246_209">User</span>
            <div class="v246_210">
    </a>

    </div>
    </div>
    <a href="{{ url_for('summary_num',num=1) }}">
        <div class="v246_211">
            <span class="v246_212">Summary</span>
            <div class="v246_213">
    </a>

    </div>
    </div>
    <a href="{{ url_for('topic') }}">
        <div class="v246_214">
            <span class="v246_215">Topic</span>
            <div class="v246_216">
    </a>
    </div>

    </div>
    <div class="v246_217">
        <span class="v246_218">Main</span>
        <div class="v246_219">

        </div>
    </div>
    <div class="v246_220">

    </div>
    </div>
    </div>
</body>

</html>