{% extends "settings.html" %}

{% block contents %}
<body>
    <div class="v300_2">
    <div class="v300_3">

</div>
    <div class="v300_49">
    <div class="name">

</div>
    <span class="v300_53">ver 2021.11.25</span>
    <div class="v300_54">
    <span class="v300_55">Settings</span>
    <div class="v300_56">

</div>
</div>
    <div class="v300_57">
    <span class="v300_58">User</span>
    <div class="v300_59">

</div>
</div>
    <div class="v300_60">
    <span class="v300_61">Summary</span>
    <div class="v300_62">

</div>
</div>
    <div class="v300_63">
    <span class="v300_64">Topic</span>
    <div class="v300_65">

</div>
</div>
    <div class="v300_66">
    <span class="v300_67">Main</span>
    <div class="v300_68">

</div>
</div>
    <div class="v300_69">

</div>
</div>
    <div class="v300_73">
    <div class="v300_71">

</div>
    <span class="v300_72"></span>
</div>
    <span class="v300_74">program_made_by</span>
    <div class="v301_96">
    <div class="v301_85">

</div>
    <span class="v301_86">Song_yubeen<br>
@github.com/yibnn</span>
</div>
<div class="v301_97">
    <div class="v301_76">

</div>
<span class="v301_84">Jung_harim<br>
@github.com/hharimjung</span>
</div>
<div class="v301_99">
    <div class="v301_79">

</div>
<span class="v301_81">Oh_sumun<br>
@github.com/sumunoh</span>
</div>
<div class="v301_88">
    <div class="v301_78">

</div>
<span class="v301_83">Yi_seul<br>
@github.com/seuly1203</span>
</div>
<div class="v301_98">
    <div class="v301_77">

</div>
<span class="v301_82">Choi_hyejeong<br>
@github.com/601chl</span>
</div>
<div class="v301_95">
    <div class="v301_75">

</div>
<span class="v301_80">Cho_Kyounglim<br>
@github.com/0Oong</span>
</div>
</div>
</body>
{% endblock %}