<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="../static/css/settings.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v14_538">
        <div class="v14_539">
        </div>
        {% block contents %}
        <div class="v122_26">
            <div class="v122_27">

            </div>
            <div class="v121_34">
                <span class="v122_32">쿠키 정책</span>
                <div class="v121_25">

                </div>
            </div>
            <div class="v121_33">
                <span class="v122_30">데이터 정책</span>
                <div class="v121_23">

                </div>
            </div>
            <div class="v121_32">
                <span class="v122_29">서비스 약관</span>
                <div class="v121_21">

                </div>
            </div>
            <span class="v122_28">커뮤니티 규정 및 법적 정책</span>
        </div>
        <div class="v122_16">
            <div class="v122_17">

            </div>
            <div class="v121_30">
                <span class="v122_23">언어 및 지역</span>
                <div class="v121_19">

                </div>
            </div>
            <a href="{{ url_for('us') }}">
            <div class="v121_29">
                <span class="v122_22">바로가기</span>
                <div class="v121_9">

                </div>
            </div>
            </a>
            <div class="v121_28">
                <span class="v122_21">알림</span>
                <div class="v121_17">

                </div>
            </div>
            <span class="v122_18">기본설정</span>
        </div>
        <div class="v122_15">
            <div class="v122_3">

            </div>
            <div class="v121_26">
                <span class="v122_9">비밀번호 및 보안</span>
                <div class="v121_7">

                </div>
            </div>
            <div class="v121_27">
                <span class="v122_8">개인 및 계정 정보</span>
                <div class="v121_5">

                </div>
            </div>
            <span class="v122_4">계정</span>
        </div>
        {% endblock %} 

        <div class="v231_185">
            <div class="name">

            </div>
            <span class="v231_189">ver 2021.11.25</span>
            <a href="{{ url_for('settings') }}">
                <div class="v231_190">
                    <span class="v231_191">Settings</span>
                    <div class="v231_210">
            </a>

        </div>
    </div>
    <a href="{{ url_for('summary_num',num=1) }}">
        <div class="v231_196">
            <span class="v231_197">Summary</span>
            <div class="v231_198">
    </a>

    </div>
    </div>
    <a href="{{ url_for('topic') }}">
        <div class="v231_199">
            <span class="v231_200">Topic</span>
            <div class="v231_201">
    </a>

    </div>
    </div>
    <a href="{{ url_for('main') }}">
        <div class="v231_202">
            <span class="v231_203">Main</span>
            <div class="v231_204">
    </a>

    </div>
    </div>
    <div class="v231_205">

    </div>
    <div class="v231_206">
        <a href="{{ url_for('user') }}">
            <span class="v231_207">User</span>
            <div class="v231_208">
        </a>

    </div>

    </div>
    </div>
    </div>
</body>

</html>