<!DOCTYPE html>
<html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="../static/css/topic2.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v104_4">
    <div class="v104_5">

</div>
    <div class="v128_2">

</div>
    <span class="v128_3">- 다양한 주제의 요약을 진행함으로써 여러가지 주제의 글의 문맥과 핵심을 쉽게 
파악할 수 있습니다.<br>
- 다양한 주제의 글을 요약해봄으로써 한 분야에 편향되지 않은 문해력을 향상시킬 수 있습니다.</span>
<span class="v131_4">주제가 랜덤으로 나오는 이유는 뭔가요?</span>
<div class="v109_27">
    <div class="v109_32">

</div>
<a href="{{ url_for('summary_num',num=5) }}">
<span class="v109_33">글쓰기 시작</span>
</a>
</div>
<div class="v104_6">
    <div class="v109_19">

</div>
<span class="v109_20">논술 실력 상승을 위하여
실력 UP의 주제는 random으로 제시됩니다</span>
<span class="v104_38">실력UP!</span>
<div class="v109_22">

</div>
</div>
<div class="v231_225">
    <div class="v231_226">

</div>
<span class="v231_227"> 검색어를 입력하세요</span>
<div class="v231_228">
    <div class="v231_229">

</div>
<span class="v231_230">검색</span>
</div>
<div class="v231_231">

</div>
</div>
<div class="v231_111">
    <div class="name">

</div>
<span class="v231_115">ver 2021.11.25</span>
<div class="v231_116">
    <a href="{{ url_for('settings') }}">
    <span class="v231_117">Settings</span>
    <div class="v231_118">
    </a>

</div>
</div>
<div class="v231_119">
    <a href="{{ url_for('user') }}">
    <span class="v231_120">User</span>
    <div class="v231_121">
    </a>

</div>
</div>
<div class="v231_122">
    <a href="{{ url_for('summary_num',num=1) }}">
    <span class="v231_123">Summary</span>
    <div class="v231_124">
    </a>

</div>
</div>
<div class="v231_125">
    <a href="{{ url_for('topic') }}">
    <span class="v231_126">Topic</span>
    <div class="v231_127">
    </a>

</div>
</div>
<div class="v231_128">
    <a href="{{ url_for('main') }}">
    <span class="v231_129">Main</span>
    <div class="v231_130">
    </a>

</div>
</div>
<div class="v231_131">

</div>
</div>
</div>
</body>
</html>