<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="../static/css/topic1.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v40_2">
        <div class="v12_446">

        </div>
        <div class="v40_49">
            <span class="v58_4">인기주제 TOP5</span>
            <div class="v58_6">
                <span class="v58_8">>

                </span>
            </div>
        </div>
        <div class="v58_13">
            <span class="v58_14">주제 선정 시
                필수 체크 사항</span>
            <div class="v58_15">
                <span class="v58_16">>

                </span>
            </div>
        </div>
        <div class="v58_17">
            <span class="v58_18">가장 흔히 출제되는
                핵심 출제어</span>
            <div class="v58_19">
                <span class="v58_20">>

                </span>
            </div>
        </div>
        <div class="v58_9">
            <span class="v58_10">자주 출제됐던 주제</span>
            <div class="v58_11">
                <span class="v58_12">>

                </span>
            </div>
        </div>
        <div class="v78_2">
            <span class="v78_3">모의논술고사
                자료집</span>
            <div class="v78_4">
                <span class="v78_5">>

                </span>
            </div>
        </div>
        <div class="v78_6">
            <span class="v78_7"> 심화과정 </span>
            <a href="{{ url_for('stapup_index') }}">
            <div class="v78_8">
                <span class="v78_9"> > 
                </span>
            </a>
            </div>
            <span class="v78_9_1"> 바로가기
            </span>
        </div>
        <div class="v231_211">
            <div class="v231_212">

            </div>
            <span class="v231_213"> 검색어를 입력하세요</span>
            <div class="v231_214">
                <div class="v231_215">

                </div>
                <span class="v231_216">검색</span>
            </div>
            <div class="v231_217">

            </div>
        </div>
        <div class="v231_64">
            <div class="name">

            </div>
            <span class="v231_68">ver 2021.11.25</span>
            <div class="v231_69">
                <a href="{{ url_for('settings') }}">
                    <span class="v231_70">Settings</span>
                    <div class="v231_71">
                </a>

            </div>
        </div>
        <div class="v231_72">
            <a href="{{ url_for('user') }}">
                <span class="v231_73">User</span>
                <div class="v231_74">
            </a>

        </div>
    </div>
    <div class="v231_75">
        <a href="{{ url_for('summary_num',num=1) }}">
            <span class="v231_76">Summary</span>
            <div class="v231_77">
        </a>

    </div>
    </div>
    <div class="v231_78">
        <a href="{{ url_for('topic') }}">
            <span class="v231_79">Topic</span>
            <div class="v231_89">
        </a>

    </div>
    </div>
    <div class="v231_81">
        <a href="{{ url_for('main') }}">
            <span class="v231_82">Main</span>
            <div class="v231_87">
        </a>

    </div>
    </div>
    <div class="v231_84">

    </div>
    </div>
    </div>
</body>

</html>