<!DOCTYPE html>
<html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Doppio+One&display=swap" rel="stylesheet" />
    <link href="../static/css/user.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v14_507">
    <div class="v14_508">

</div>
    <div class="v131_51">
    <div class="v131_45">

</div>
    <div class="v131_54">

</div>
    <div class="v131_46">
    <span class="v131_31">내 질문 바로가기</span>
    <div class="v131_33">

</div>
</div>
    <div class="v131_47">
    <span class="v131_28">최근 작성한 요약</span>
    <div class="v131_30">

</div>
</div>
    <div class="v131_48">
    <span class="v60_76">나의 주제 사용 top 3</span>
    <div class="v131_27">

</div>
</div>
    <div class="v131_49">
    <span class="v121_35">친구 팔로우 및 초대</span>
    <div class="v121_37">

</div>
</div>
</div>
    <div class="v60_32">
    <div class="v60_24">

</div>
    <div class="name">

</div>
    <div class="v60_31">
    <div class="v60_27">

</div>
    <div class="v60_28">

</div>
    <div class="v60_29">

</div>
    <div class="v60_33">

</div>
</div>
    <div class="v60_30">

</div>
    <div class="v60_66">
    <div class="v60_34">

</div>
    <div class="v60_35">

</div>
    <div class="v60_36">

</div>
    <div class="v60_37">

</div>
    <div class="v60_38">

</div>
    <div class="v60_39">

</div>
    <div class="v60_43">

</div>
    <div class="v60_40">

</div>
    <div class="v60_41">

</div>
    <div class="v60_42">

</div>
    <div class="v60_45">

</div>
    <div class="v60_46">

</div>
    <div class="v60_47">

</div>
    <div class="v60_48">

</div>
    <div class="v60_49">

</div>
    <div class="v60_50">

</div>
    <div class="v60_51">

</div>
    <div class="v60_52">

</div>
    <div class="v60_53">

</div>
    <div class="v60_54">

</div>
    <div class="v60_55">

</div>
    <div class="v60_56">

</div>
    <div class="v60_57">

</div>
    <div class="v60_58">

</div>
    <div class="v60_62">

</div>
    <div class="v60_64">

</div>
    <div class="v60_65">

</div>
</div>
    <span class="v60_67">12</span>
</div>
    <div class="v59_9">
    <div class="v59_5">

</div>
    <div class="v59_8">
    <div class="v59_6">

</div>
    <div class="v59_3">

</div>
</div>
    <div class="v59_7">

</div>
    <div class="v60_23">
    <span class="v60_21">followers  :  15
following  :  22</span>
</div>
<span class="v59_17">kevin@email.com</span>
<span class="v59_13">kevin</span>
</div>
<div class="v231_156">
    <div class="name">

</div>
<span class="v231_160">ver 2021.11.25</span>
<div class="v231_161">
    <a href="{{ url_for('settings') }}">
    <span class="v231_162">Settings</span>
    <div class="v231_163">
    </a>

</div>
</div>
<div class="v231_164">
    <a href="{{ url_for('user') }}">
    <span class="v231_165">User</span>
    <div class="v231_184">
    </a>

</div>
</div>
<div class="v231_180">
    <a href="{{ url_for('summary_num',num=1) }}">
    <span class="v231_181">Summary</span>
    <div class="v231_182">
    </a>

</div>
</div>
<div class="v231_170">
    <a href="{{ url_for('topic') }}">
    <span class="v231_171">Topic</span>
    <div class="v231_172">
    </a>

</div>
</div>
<div class="v231_173">
    <a href="{{ url_for('main') }}">
    <span class="v231_174">Main</span>
    <div class="v231_175">
    </a>

</div>
</div>
<div class="v231_176">

</div>
</div>
</div>
</body>
</html>